# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* Popular languages that data scientists use
* Commonly used libraries used by data scientists
* Data Science Tools

Some of the popular languages that Data Scientists use are:
1) Python
2) R
3) SQL

Some of the commonly used libraries used by Data Scientists include:
1) pandas
2) numpy
3) matplotlib


|Data Science tools|
|------------------|
|R studio          |
|Github            |
|Jupyter lab       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
minutes=300
#This will convert 200 minutes to hours by diving by 60
hours=300/60
print(hours)

5.0

## Author
Melanie